.header {
  position: absolute;
  width: 1440px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #223957;
  z-index: 1;
}

.header__wrapper {
  padding: 0 50px;
  display: flex;
}

.header__wrapper-nav {
  width: 50%;
}

.header__logo-pic {
  position: absolute;
  left: 50px;
  top: 19.72px;
}

.header__search {
  position: absolute;
  width: 436px;
  height: 44px;
  left: 259px;
  top: 8px;
  background: #FFFFFF;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 5px;
}

.header__search-submit {
  width: 20px;
  height: 20px;
  border: none;
  background: url("../img/search.svg") no-repeat center center;
  padding: 15px;
}

.header__search-field {
  border: none;
  outline: none;
  width: 400px;
  vertical-align: middle;
}

.header__search-field::placeholder {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #B0B0B0;
}

.header__item {
  position: absolute;
  height: 60px;
  top: 59px;
  display: flex;
  align-items: center;
}

.header__item-vehicle {
  width: 167px;
  left: 50px;
}

.header__item-live {
  width: 158px;
  left: 207px;
}

.header__item-support {
  width: 189px;
  left: 360px;
}

.header__link {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 0px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:active,
.header__link:focus,
.header__link:hover {
  color: #8AC7FF;
}

.header__tabs {
  width: 50%;
  display: flex;
}

.header__tab {
  position: absolute;
  height: 40px;
  background: #122238;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__tab_wallet {
  width: 111px;
  left: 930px;
}

.header__tab_hammer {
  width: 80px;
  left: 1051px;
}

.header__tab_star {
  width: 80px;
  left: 1141px;
}

.header__tab-pic {
  width: 50%;
}

.header__tab-ico {
  margin: 0 auto;
  display: block;
}

.header__tab-partition {
  width: 1px;
  height: 24px;
  left: 1090px;
  top: 18px;
  background: rgba(255, 255, 255, 0.25);
}

.header__tab-info {
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 50%;
}

.header__tab-num {
  margin: 0 auto;
  display: block;
}

.header__button {
  position: absolute;
  width: 149px;
  height: 40px;
  left: 1241px;
  top: 10px;
}

.header__button-account {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: #0084FF;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

