.transport__wrapper {
  position: absolute;
  width: 1263px;
  height: 534px;
  left: 20px;
  top: 88px;
  background: #F3F3F3;
  border-radius: 0px 0px 0px 10px;
  display: flex;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.transport__select {
  width: 230px;
  height: 534px;
  left: 20px;
  top: 88px;
}

.transport__list {
  padding: 42px 0 0 10px;
}

.transport__item {
  width: 220px;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background: url("../img/arrow_right-black.svg") no-repeat 95% center;
}

.transport__item:hover {
  background: #FFFFFF;
  border-radius: 10px 0px 0px 10px;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #0084FF;
  background: url("../img/arrow_right-blue.svg") no-repeat 95% center;
}

.transport__options {
  width: 1033px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 42px 0 0 30px;
  display: flex;
  justify-content: space-around;
}

.transport__options-body {
  width: 678px;
}

.transport__options-header {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 60px;
  color: #999999;
}

.transport__options-list {
  display: flex;
  flex-wrap: wrap;
}

.transport__options-item {
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.transport__options-name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.transport__options-item:nth-child(5n) {
  padding-right: 0;
}

.transport__options-popular {
  width: 355px;
}

.transport__options-popular-choice {
  width: 155px;
  height: 100px;
  background: #C4C4C4;
  border-radius: 5px;
  margin-bottom: 8.92px;
}

.transport__options-popular-header {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.transport__options-popular-price {
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 16px;
  color: #0084FF;
  margin-bottom: 20px;
}

.transport__options-popular-searches {
  display: flex;
  flex-wrap: wrap;
}

.transport__options-popular-search {
  padding-right: 15px;
}

.transport__options-popular-search:nth-child(2n) {
  padding-right: 0;
}

.transport__options-popular-img {
  padding: 25px 0;
}